@import 'tailwindcss';

/* 테마 변수 설정 */
@theme {
  /* 색상 설정 */
  --color-primary: #344fff;
  --color-primary-dark: #131b53;
  --color-primary-light: #ebf5ff;

  /* Basic Colors */
  --color-white: #ffffff;
  --color-black: #212121;

  /* Grey Scale */
  --color-grey-100: #f4f6f9;
  --color-grey-200: #eceef3;
  --color-grey-400: #9b9fbc;
  --color-grey-500: #707192;
  --color-grey-600: #2d2d39;

  /* Accent Colors */
  --color-red: #ff2e4d;
}

@layer base {
}
